@page "/orders/new"

@inherits UIComponentBase
@using System.ComponentModel;
@using Demo.UI.Blazor.Component.Table.Order;
@using Demo.UI.Localization;
@using Demo.UI.Orders;
@using Demo.UI.Products;
@using Microsoft.Extensions.Localization;
@using Volo.Abp.AspNetCore.Components.Web.Theming.Toolbars;
@using Demo.UI.Blazor.Component;
@using Demo.UI.Blazor.Pages;
@using Volo.Abp.Application.Dtos;

@inject IStringLocalizer<UIResource> L
@inject AbpBlazorMessageLocalizerHelper<UIResource> LH
@inject IOrderAppService OrderAppService
@inject IProductService ProductService

@inject NavigationManager NavigationManager

<Breadcrumb>
    <BreadcrumbItem>
        <Icon Name="IconName.Home"></Icon> <BreadcrumbLink To="#">Order Manegement</BreadcrumbLink>
    </BreadcrumbItem>
    <BreadcrumbItem>
        <BreadcrumbLink To="#">DataEntity</BreadcrumbLink>
    </BreadcrumbItem>
    <BreadcrumbItem>
        <BreadcrumbLink To="/saleorder">Sales Order(OM10100)</BreadcrumbLink>
    </BreadcrumbItem>
    <BreadcrumbItem Active>
        <BreadcrumbLink To="#"></BreadcrumbLink>
    </BreadcrumbItem>
</Breadcrumb>
<Row Style="margin-bottom:12px; margin-top:12px">
    <Column ColumnSize="ColumnSize.Is10" Style=" align-items:center; justify-content:space-around">
        <Text Style="font-size:xx-large; font-weight:bold"></Text>
    </Column>
    <Column ColumnSize="ColumnSize.Is2">
        <Button Color="Color.Secondary" Size="Size.Small" Style="margin-right:16px" Clicked="GoToSalePage">Back</Button>
        <Button Color="Color.Secondary" Size="Size.Small" Clicked="CreateEntityAsync">Save</Button>

    </Column>
</Row>

  <Row>
        <Column ColumnSize="ColumnSize.Is8">
            <Text Style="font-weight:bold">Information</Text>
        </Column>                      
  </Row>
<Row>
    <Column ColumnSize="ColumnSize.Is(columnClass)">
        <Card>
            <CardBody>          
                <Validations @ref="@CreateValationRef" Model="@NewEntity" ValidateOnLoad="false">
                    <Row class="row">
                        <Column ColumnSize="ColumnSize.Is4">
                            <Text>Order Number</Text>
                            <Field>
                                <TextEdit Placeholder="SO00000XXX" @bind-Text="@NewEntity.OrderNumber" />
                            </Field>
                        </Column>
                        <Column ColumnSize="ColumnSize.Is4">
                            <Text>Order Type</Text>
                            <Select TValue="OrderType" @bind-SelectedValue="@NewEntity.OrderType">
                                @foreach (var ordertype in Enum.GetValues(typeof(OrderType)))
                                {
                                    <SelectItem Value="@((OrderType)ordertype)">@L[$"Enum:OrderType.{ordertype}"]</SelectItem>
                                }
                            </Select>
                        </Column>

                        <Column ColumnSize="ColumnSize.Is4">
                            <Text>Distributor Code</Text>
                            <Field>
                                <TextEdit Placeholder="DNDNXX" @bind-Text="@NewEntity.DistributorCode" />
                            </Field>
                        </Column>
                    </Row>

                    <Row>
                        <Column ColumnSize="ColumnSize.Is4">
                            <Text>Status</Text>
                            <Select  TValue="OrderStatus" @bind-SelectedValue="@NewEntity.OrderStatus">
                                @foreach (var order in Enum.GetValues(typeof(OrderStatus)))
                                {
                                    <SelectItem Value="@((OrderStatus)order)">
                                        @L[$"Enum:OrderStatus.{order}"]
                                    </SelectItem>
                                }
                            </Select>
                        </Column>

                        <Column ColumnSize="ColumnSize.Is4">
                            <Text>Handle</Text>
                            <Select TValue="OrderHandle" @bind-SelectedValue="@NewEntity.Handle">
                                @foreach (var handle in Enum.GetValues(typeof(OrderHandle)))
                                {
                                    <SelectItem Value="@((OrderHandle)handle)">@handle.ToString()</SelectItem>
                                }
                            </Select>
                        </Column>

                        <Column ColumnSize="ColumnSize.Is4">

                        </Column>
                    </Row>

                    <Row Style="margin-top:20px">
                        <Column ColumnSize="ColumnSize.Is4">
                            <Text>Customer Address</Text>
                            <Field>
                                <TextEdit Placeholder="" @bind-Text="@NewEntity.CustomerAddress" />
                            </Field>
                        </Column>

                        <Column ColumnSize="ColumnSize.Is4">
                            <Text>Remark</Text>
                            <Field>
                                <TextEdit Placeholder="" @bind-Text="@NewEntity.Remark" />
                            </Field>
                        </Column>

                        <Column ColumnSize="ColumnSize.Is4">
                            <Text>Invoice Number</Text>
                            <Field>
                                <TextEdit Placeholder="" @bind-Text="@NewEntity.InvoiceNumber" />
                            </Field>
                        </Column>
                    </Row>

                    <Row class="row">
                        <Column ColumnSize="ColumnSize.Is4">
                            <Text>Invoice Note</Text>
                            <Field>
                                <TextEdit Placeholder="" @bind-Text="@NewEntity.InvoiceNote" />
                            </Field>
                        </Column>

                        <Column ColumnSize="ColumnSize.Is4">
                            <Text>Customer ID</Text>
                            <Field>
                                <TextEdit Placeholder="DNG0000XX" @bind-Text="@NewEntity.CustomerID" />
                            </Field>
                        </Column>

                        <Column ColumnSize="ColumnSize.Is4">
                            <Text>Customer Name</Text>
                            <Field>
                                <TextEdit Placeholder="" @bind-Text="@NewEntity.CustomerName" />
                            </Field>
                        </Column>
                    </Row>

                    <Tabs SelectedTab="@selectedTab" SelectedTabChanged="@OnSelectedTabChanged">
                        <Items>
                            <Tab Name="order">Order/Invoice Information</Tab>
                            <Tab Name="shipping">Shipping Info</Tab>
                            <Tab Name="address">Address</Tab>
                            <Tab Name="taxt">Taxt Information</Tab>
                            <Tab Name="discount">Discount Information</Tab>
                        </Items>
                        <Content>
                            <TabPanel Name="order">
                                <Row class="row">
                                    <Column ColumnSize="ColumnSize.Is4">
                                        <Text>Order Date</Text>
                                        <Field>
                                            <DateEdit TValue="DateTime" @bind-Date="NewEntity.OrderDate" />
                                        </Field>
                                    </Column>

                                    <Column ColumnSize="ColumnSize.Is4">
                                        <Text>Sales Person</Text>
                                        <Field>
                                            <TextEdit Placeholder="" />
                                        </Field>
                                    </Column>

                                    <Column ColumnSize="ColumnSize.Is4">
                                        <Text>Delivery Staff</Text>
                                        <Field>
                                            <TextEdit @bind-Text="@NewEntity.DeliveryStaff">
                                                <Feedback>
                                                    <ValidationError />
                                                </Feedback>
                                            </TextEdit>
                                        </Field>
                                    </Column>
                                </Row>

                                <Row class="row">
                                    <Column ColumnSize="ColumnSize.Is4">
                                        <Text>Delivery Unit</Text>
                                        <Field>
                                            <TextEdit Size="Size.Small" Placeholder="Marketing Da Nang" @bind-Text="@NewEntity.DistributorName" />
                                        </Field>
                                    </Column>

                                    <Column ColumnSize="ColumnSize.Is4">
                                        <Text>Pay Method</Text>
                                        <Select TValue="PaymentMethod" @bind-SelectedValue="@NewEntity.PaymentMethod">
                                            @foreach (var method in Enum.GetValues(typeof(PaymentMethod)))
                                            {
                                                <SelectItem Value="@((PaymentMethod)method)">@L[$"Enum:PaymentThod.{method}"]</SelectItem>
                                            }
                                        </Select>
                                    </Column>

                                    <Column ColumnSize="ColumnSize.Is4">

                                    </Column>
                                </Row>

                                <Row class="row">
                                    <Column ColumnSize="ColumnSize.Is4">
                                        <Row>
                                            <Text>Disc Ajustment(%Money)</Text>
                                            <Column ColumnSize="ColumnSize.Is6">
                                                <Field>
                                                    <NumericPicker @bind-Value="@NewEntity.Discount" />
                                                </Field>
                                            </Column>
                                            <Column ColumnSize="ColumnSize.Is6">
                                                <Field>
                                                    <NumericPicker @bind-Value="@NewEntity.Discount" />
                                                </Field>
                                            </Column>
                                        </Row>
                                    </Column>

                                    <Column ColumnSize="ColumnSize.Is4">
                                        <Row>
                                            <Text>Volumn/Line Discount</Text>
                                            <Column ColumnSize="ColumnSize.Is6">
                                                <Field>
                                                    <NumericPicker @bind-Value="@NewEntity.Discount" />
                                                </Field>
                                            </Column>
                                            <Column ColumnSize="ColumnSize.Is6">
                                                <Field>
                                                    <NumericPicker @bind-Value="@NewEntity.Discount" />
                                                </Field>
                                            </Column>
                                        </Row>
                                    </Column>

                                    <Column ColumnSize="ColumnSize.Is4">
                                        <Row>
                                            <Column ColumnSize="ColumnSize.Is12">
                                                <Text>Reward Amount</Text>
                                                <Field>
                                                    <NumericPicker @bind-Value="@NewEntity.RewardAmount" />
                                                </Field>
                                            </Column>
                                        </Row>
                                    </Column>
                                </Row>

                                <Row class="row">
                                    <Column ColumnSize="ColumnSize.Is12">
                                        <Check TValue="bool" @bind-Checked="@remember">Do Not Caculator Discount</Check>
                                    </Column>
                                </Row>

                                <Row class="row">
                                    <Column ColumnSize="ColumnSize.Is4">
                                        <Text>Total Item Amount</Text>
                                        <Field>
                                            <NumericPicker @bind-Value="@NewEntity.TotalItem" />
                                        </Field>
                                    </Column>

                                    <Column ColumnSize="ColumnSize.Is4">
                                        <Text>Total Taxt Amount</Text>
                                        <Field>
                                            <NumericPicker @bind-Value="@NewEntity.Tax" />
                                        </Field>
                                    </Column>

                                    <Column ColumnSize="ColumnSize.Is4">
                                        <Text>Quantity Amount</Text>
                                        <Field>
                                            <NumericPicker @bind-Value="@NewEntity.Quanity" />
                                        </Field>
                                    </Column>
                                </Row>

                                <Row class="row">
                                    <Column ColumnSize="ColumnSize.Is4">
                                        <Text>Total</Text>
                                        <Field>
                                            <NumericPicker @bind-Value="@NewEntity.Total" />
                                        </Field>
                                    </Column>

                                    <Column ColumnSize="ColumnSize.Is4">
                                        <Text>Total Amount</Text>
                                        <Field>
                                            <NumericPicker @bind-Value="@NewEntity.TotalAmount" />
                                        </Field>
                                    </Column>

                                    <Column ColumnSize="ColumnSize.Is4">

                                    </Column>
                                </Row>
                            </TabPanel>
                            <TabPanel Name="shipping">
                                Content for Shipping.
                            </TabPanel>
                            <TabPanel Name="address">
                                Content for Address.
                            </TabPanel>
                            <TabPanel Name="taxt">
                                Content for Taxt Information.
                            </TabPanel>
                            <TabPanel Name="discount">
                                Content for Discount Information.
                            </TabPanel>
                        </Content>
                    </Tabs>
                    <DataGrid TItem="ProductDto"
                              Data="@productDtoList"
                              Editable="true"
                              EditMode="DataGridEditMode.Inline"
                              Responsive
                              ShowPager>
                        <DataGridCommandColumn />

                        <DataGridColumn Field="@nameof( ProductDto.ProductID )" Caption="ProductID" Editable>
                            <EditTemplate>
                                <TextEdit Text="@((string)context.CellValue)" TextChanged="@(value => { FindProduct(value);
                            context.CellValue = value;
                            context.UpdateCell(nameof(ProductDto.ProductName),name);
                            context.UpdateCell(nameof(ProductDto.Unit),unit);
                            context.UpdateCell(nameof(ProductDto.SiteCode),Sitecode);
                            context.UpdateCell(nameof(ProductDto.Quanity),quantity);
                            context.UpdateCell(nameof(ProductDto.QRCode),qrcode);
                            context.UpdateCell(nameof(ProductDto.SalesPrice),saleprice);
                            context.UpdateCell(nameof(ProductDto.ExtenedCost),extendcost);
                            })"></TextEdit>
                            </EditTemplate>
                        </DataGridColumn>
                        <DataGridColumn Field="@nameof( ProductDto.ProductName )" Caption="ProductName" Context="context" Editable>
                            <EditTemplate>
                                <TextEdit Text="@((string)context.CellValue)"></TextEdit>
                            </EditTemplate>
                        </DataGridColumn>

                        <DataGridColumn Field="@nameof( ProductDto.Unit )" Caption="Unit" Editable>
                            <EditTemplate>
                                <TextEdit Text="@((string)context.CellValue)"></TextEdit>
                            </EditTemplate>
                        </DataGridColumn>

                        <DataGridColumn Field="@nameof( ProductDto.SiteCode )" Caption="SiteCode" Editable>
                            <EditTemplate>
                                <TextEdit  Text="@((string)context.CellValue)"></TextEdit>
                            </EditTemplate>
                        </DataGridColumn>

                        <DataGridColumn Field="@nameof( ProductDto.Quanity )" Caption="Quanity" Editable>
                            <EditTemplate>
                                <NumericEdit TValue="int"
                                             Value="@((int)context.CellValue)"
                                                  Disabled />
                            </EditTemplate>
                        </DataGridColumn>

                        <DataGridColumn Field="@nameof( ProductDto.QRCode )" Caption="QRCode" Editable>
                            <EditTemplate>
                                <TextEdit Text="@((string)context.CellValue)"></TextEdit>
                            </EditTemplate>
                        </DataGridColumn>

                        <DataGridColumn Field="@nameof( ProductDto.SalesPrice )" Caption="SalesPrice" Editable>
                            <EditTemplate>
                                <NumericEdit TValue="double"
                                             Value="@((double)context.CellValue)"
                                                  Disabled />
                            </EditTemplate>
                        </DataGridColumn>

                        <DataGridColumn Field="@nameof( ProductDto.ExtenedCost )" Caption="ExtenedCost" Editable>
                            <EditTemplate>
                                <NumericEdit TValue="double"
                                             Value="@((double)context.CellValue)"
                                                  Disabled />
                            </EditTemplate>
                        </DataGridColumn>

                    </DataGrid>
                   </Validations>
                
            </CardBody>
        </Card>

    </Column>
</Row>


@code {
    [Parameter]
    public string OrNum { set; get; }
    bool FilterVisible = false;
    bool remember = true;
    string columnClass = "10";
    void ToggleFilter()
    {
        FilterVisible = !FilterVisible;
        columnClass = FilterVisible ? "10" : "12";
    }
    private string SelectedOption1 { get; set; }
    private string SelectedOption2 { get; set; }
    private string SelectedOption3 { get; set; }
    private string SelectedOption4 { get; set; }

    private string Option1 { get; set; }
    private string Option2 { get; set; }
    private string Option3 { get; set; }
    private string Option4 { get; set; }

    //Tab
    string selectedTab = "order";

    //protected override async ValueTask SetToolbarItemsAsync()
    //{
    //    Toolbar.AddButton

    //}

    private Task OnSelectedTabChanged(string name)
    {
        selectedTab = name;

        return Task.CompletedTask;
    }


}
