@page "/product/edit/{Id}";
@using Demo.UI.Localization;
@using Demo.UI.Orders;
@using Demo.UI.Products;
@using Microsoft.Extensions.Localization;
@using Volo.Abp.Application.Dtos;
@inject IStringLocalizer<UIResource> L
@inject AbpBlazorMessageLocalizerHelper<UIResource> LH
@inherits UIComponentBase
@inject IProductService ProductService
@inject NavigationManager NavigationManager

<Row Style="margin-bottom:12px; margin-top:12px">
    <Column ColumnSize="ColumnSize.Is10" Style=" align-items:center; justify-content:space-around">
        <Text Style="font-size:xx-large; font-weight:bold"></Text>
    </Column>
    <Column ColumnSize="ColumnSize.Is2">
        <Button Color="Color.Secondary" Size="Size.Small" Style="margin-right:16px" Clicked="GoToProduct">Back</Button>
        <Button Color="Color.Secondary" Size="Size.Small" Clicked="EditEntityAsync">Save</Button>
        <Button Color="Color.Secondary" Size="Size.Small" Clicked="DeleteEntityAsync">Delete</Button>

    </Column>
</Row>
<Card>
    <CardTitle>New Product</CardTitle>
    <CardBody>
        <Validations @ref="@EditValidationsRef" Model="@EditingEntity" ValidateOnLoad="false">
            <CardBody>
                <Row class="row">
                    <Column ColumnSize="ColumnSize.Is4">
                        <Text>ProductID</Text>
                        <Field>
                            <TextEdit Placeholder="" @bind-Text="@EditingEntity.ProductID" />
                        </Field>
                    </Column>

                    <Column ColumnSize="ColumnSize.Is4">
                        <Text>Product Name</Text>
                        <Field>
                            <TextEdit Placeholder="" @bind-Text="@EditingEntity.ProductName" />
                        </Field>
                    </Column>
                </Row>

                <Row>

                    <Column ColumnSize="ColumnSize.Is4">

                    </Column>
                </Row>

                <Row Style="margin-top:20px">
                    <Column ColumnSize="ColumnSize.Is4">
                        <Text>Unit</Text>
                        <Field>
                            <TextEdit Placeholder="" @bind-Text="@EditingEntity.Unit" />
                        </Field>
                    </Column>

                    <Column ColumnSize="ColumnSize.Is4">
                        <Text>SiteCode</Text>
                        <Field>
                            <TextEdit Placeholder="" @bind-Text="@EditingEntity.SiteCode" />
                        </Field>
                    </Column>

                    <Column ColumnSize="ColumnSize.Is4">
                        <Text>Quantity</Text>
                        <Field>
                            <Field>
                                <NumericPicker @bind-Value="@EditingEntity.Quanity" />
                            </Field>
                        </Field>
                    </Column>
                </Row>

                <Row class="row">
                    <Column ColumnSize="ColumnSize.Is4">
                        <Text>QR Code</Text>
                        <Field>
                            <TextEdit Placeholder="" @bind-Text="@EditingEntity.QRCode" />
                        </Field>
                    </Column>

                    <Column ColumnSize="ColumnSize.Is4">
                        <Text>Sales Price</Text>
                        <Field>
                            <NumericPicker @bind-Value="@EditingEntity.SalesPrice" />
                        </Field>
                    </Column>

                    <Column ColumnSize="ColumnSize.Is4">
                        <Text>Extended Cost</Text>
                        <Field>
                            <NumericPicker @bind-Value="@EditingEntity.ExtenedCost" />
                        </Field>
                    </Column>
                </Row>
            </CardBody>
        </Validations>
    </CardBody>
</Card>
