@page "/products"
@using Demo.UI.Localization;
@using Demo.UI.Orders;
@using Demo.UI.Products;
@using Microsoft.Extensions.Localization;
@using Volo.Abp.Application.Dtos;
@inject IStringLocalizer<UIResource> L
@inject AbpBlazorMessageLocalizerHelper<UIResource> LH
@inject IProductService ProductService
@*@inherits AbpCrudPageBase<IProductService, ProductDto, Guid, PagedAndSortedResultRequestDto, CreateUpdateProductDto>*@
@inject NavigationManager NavigationManager


<Row Style="margin-bottom:12px; margin-top:12px">
    <Column ColumnSize="ColumnSize.Is10" Style=" align-items:center; justify-content:space-around">
        <Text Style="font-size:xx-large; font-weight:bold"></Text>
    </Column>
    <Column ColumnSize="ColumnSize.Is2">
        <Button Color="Color.Secondary" Size="Size.Small" Type="ButtonType.Link" To="product/new">Add New</Button>
        <Button Color="Color.Secondary" Size="Size.Small" Clicked="DeleteProductSelected">Delete</Button>

    </Column>
</Row>
<Card>
    <CardTitle>Product List</CardTitle>
    <DataGrid TItem="ProductDto"
              Data=productList
              @bind-SelectedRow = "@selectedProduct"            
              SelectionMode="DataGridSelectionMode.Multiple"
              ReadData="OnDataGridReadAsync"
              TotalItems="TotalCount"
              ShowPager="true"
              PageSize="PageSize"
              @bind-SelectedRows="@selectedProducts">
        <DataGridColumns>

            <DataGridMultiSelectColumn Width="30px"></DataGridMultiSelectColumn>      
            <DataGridColumn Field="@nameof(ProductDto.ProductID)" Caption="@L["ProductID"]" Context="context" Editable>
                <DisplayTemplate>
                <Link Underline="Underline.Always" Clicked="@(() => GoToEditPage(context))">@context.ProductID</Link>
                </DisplayTemplate>
            </DataGridColumn>


            <DataGridColumn TItem="ProductDto"
                            Field="@nameof(ProductDto.ProductName)"
                            Caption="@L["ProductName"]" Editable>
            </DataGridColumn>

            <DataGridColumn TItem="ProductDto"
                            Field="@nameof(ProductDto.Unit)"
                            Caption="@L["Unit"]" Editable>
            </DataGridColumn>
            <DataGridColumn TItem="ProductDto"
                            Field="@nameof(ProductDto.SiteCode)"
                            Caption="@L["SiteCode"]" Editable>
                <DisplayTemplate>
                    @context.CreationTime.ToShortDateString()
                </DisplayTemplate>
            </DataGridColumn>
            <DataGridColumn TItem="ProductDto"
                            Field="@nameof(ProductDto.Quanity)"
                            Caption="@L["Quantity"]" Editable>
            </DataGridColumn>
            <DataGridColumn TItem="ProductDto"
                            Field="@nameof(ProductDto.QRCode)"
                            Caption="@L["QRCode"]" Editable>
            </DataGridColumn>
            <DataGridColumn TItem="ProductDto"
                            Field="@nameof(ProductDto.SalesPrice)"
                            Caption="@L["SalesPrice"]" Editable>
            </DataGridColumn>
            <DataGridColumn TItem="ProductDto"
                            Field="@nameof(ProductDto.ExtenedCost)"
                            Caption="@L["ExtendedCost"]" Editable>
            </DataGridColumn>

        </DataGridColumns>
    </DataGrid>
    
</Card>